html,
body {
  background-color: #fff;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  min-height: 100vh;
}

code {
  font-family: "Menlo";
  background-color: #37373e;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 3px;
}

.card {
  margin: 2em;
  border-radius: 7px;
  color: #000;
  width: 100%;
  text-align: center;
}

.card-heading {
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  color: #fff;
  cursor: pointer;
  padding: 8px 35px;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  background-color: hsl(199, 100%, 11%);
  transition: all;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.btn:hover {
  background-color: hsla(199, 100%, 11%, 0.708);
}

.btn:active {
  background-color: hsla(199, 100%, 11%, 0.128);
}

p,
span {
  font-weight: bold;
  color: "#fff";
  font-family: inherit;
}

input[type="checkbox"] {
  margin: 0.5rem 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}
